# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/Assets/Rukha93
/.vs/GameJam
/Assets/Settings
/Assets/TutorialInfo
/Assets/InputSystem_Actions.inputactions
/Assets/InputSystem_Actions.inputactions.meta
/Assets/Readme.asset
/Assets/Readme.asset.meta
/Assets/Rukha93.meta
/Assets/Scenes.meta
/Assets/scripts.meta
/Assets/Settings.meta
/Assets/TutorialInfo.meta
/Library
/Logs
/obj/Debug
/ProjectSettings
/Packages
/UserSettings
*.vsconfig
*.md
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/CustomizationSample.csproj
/MerryYellow.CodeAssist.Editor.csproj
